@page
@model NorthwindWeb.Pages.CustomersModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Packt.Shared

<div class="row">
    <h2 class="display-3">Customers</h2>
</div>
<div class="row">
    @foreach(var group in Model.CustomersAndCountries){
        <div class="col-sm-6">
        <div class="card" style="margin-top:32px;margin-bottom:32px;">
            <div class="card-body">
                <div>
                    <h4 class="card-title display-4">@group.Key</h4>
                </div>
                <div class="card-text">
                    <ul class="list-group">
                    @foreach (Customer customer in group)
                    {
                        <a asp-page="customer_details" asp-route-id="@customer.CustomerID" class="list-group-item list-group-item-action">@customer.CompanyName</a>
                    }
                    </ul>
                </div>
            </div>
        </div>
        </div>
    }
</div>